// COLORS
$color-primary: #7ed56f;
$color-secondary: #55c57a;
$color-tertiary: #28b485;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7730;

$color-red-light: rgb(245, 101, 101);

$color-white: #fff;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2 : #999;
$color-grey-dark-3 : #333;
$color-black: #000;

// FONT
$font-size-default: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// SHADOW
$shadow-box: 0 1rem 5rem 1.5rem rgba($color-black, .15);