.navigation {

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: $shadow-box;
        text-align: center;

        @include respond(tab-port) {
            top: 3rem;
            right: 3rem;
        }

        @include respond(phone) {
            top: 2rem;
            right: 4rem;
        }
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background: radial-gradient($color-primary, $color-tertiary);
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.85, 0, 0.15, 1);
        
        @include respond(tab-port) {
            top: 3.5rem;
            right: 3.5rem;
        }
        
        @include respond(phone) {
            top: 2.5rem;
            right: 4.5rem;
        }
        
        // transform: scale(80)
    }
    
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -20rem;
        z-index: 1500;
        opacity: 0;
        width: 10%;
        transition: all 0.8s cubic-bezier(.68, -.55, .27, 1.55);
    }

    &__list {
        width: 100%;
        @include centeringAbs;
        list-style: none;
        text-align: center;

    }

    &__item {
        margin: 1rem;
    }

    &__link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $color-white;
            text-transform: uppercase;
            padding: 1rem 2rem;
            text-decoration: none;
            background: linear-gradient(120deg, transparent 50%, $color-white 50%);
            background-size: 225%;
            transition: all .4s;
        }

        span {
            padding-right: 1rem;
            display: inline-block;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-secondary;
            transform: translateX(1.8rem);
        }
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }

    &__checkbox:checked~&__nav {
        left: 0;
        opacity: 1;
        width: 100%;
        overflow: hidden;
    }

    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            height: 2px;
            width: 3rem;
            background-color: $color-grey-dark-3;
            display: inline-block;
            border-radius: 100rem;
            transition: all .25s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -.8rem;
        }

        &::after {
            top: .8rem;
        }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }



    &__checkbox:checked~&__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked~&__button &__icon::before {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked~&__button &__icon::after {
        top: 0;
        transform: rotate(135deg);
    }
}