body {
    font: 
        400 
        $font-size-default
        "Lato", Arial, Helvetica, sans-serif;
    color: $color-grey-dark;
    line-height: 1.7;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    
    &--main {
        display: block;
        font-weight: 400;
        font-size: 6rem;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        /* animation-delay: 3s; */
        /* animation-iteration-count: 3; */
        animation-timing-function: ease-out;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 5rem;
        }
    }
    
    &--sub {
        display: block;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: 1.34rem;
        animation: moveInRight 1s ease-out;  

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-weight: 700;
    font-size: 3.5rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-tertiary);
    -webkit-background-clip: text;
    background-clip: text;
    letter-spacing: .2rem;
    color: transparent;
    transition: all .2s;

    @include respond(tab-port) {
        font-size: 3rem;
    }
    
    @include respond(phone) {
        font-size: 2.8rem;
    }

    &:hover {
        transform: skew(15deg, 2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2)
    }
}

.heading-tertiary {
    font-weight: 700;
    font-size: $font-size-default;
    text-transform: uppercase;
}

.paragraph {
    font-size: $font-size-default;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}